/****************
* GALERIA
****************/

.gallery {
    background-color: var(--color-primary-light);
    padding: 100px 0 0 0;

    .container {

        h2 {
            color: var(--color-secondary);
            font-weight: 400;
            font-size: 50px;
            margin-bottom: 10px;
            text-align: center;
        }

        img {
            display: block;
            margin: 0 auto;
        }

        .gallery-wrapper {
            display: flex;
            margin: 50px auto;
            height: 100vh;
            flex-direction: column;
            flex-wrap: wrap;
            width: 70%;

            div {
                margin: 6px;
                width: 33%;
                border: 10px solid var(--color-primary);

                

                img {
                    width: 100%;
                    transition: scale 350ms ease, opacity 350ms linear;
                }

                &:hover {
                    border-color: black;
                }
            }
            
        }

        .gallery-wrapper:has(:hover) img:not(:hover) {
            scale: .8;
            opacity: .7;
        }

    }
}

@media (max-width: 1200px) {
    .gallery {
        padding: 20px 0 0 0;

        .container {

            //

            h2 {
                font-size: 40px;
            }
            .gallery-wrapper {
                flex-wrap: wrap;
                align-items: center;
                width: 70vw;
                margin: 35px;
                height: 100vh;
                
                div {
                    width: 40%;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .gallery {
        padding: 20px 0 0 0;

        .container {

            h2 {
                font-size: 40px;
            }
            .gallery-wrapper {
                flex-wrap: nowrap;
                align-items: center;
                width: 100vw;
                height: 95%;
                
                div {
                    width: 70%;
                }
            }
        }
    }
}


@media (max-width: 700px) {
    .gallery {
        padding: 20px 0 0 0;

        .container {

            h2 {
                font-size: 40px;
            }
            .gallery-wrapper {
                flex-wrap: nowrap;
                align-items: center;
                width: 80%;
                height: 100%;
                
                div {
                    width: 80%;
                }
            }
        }
    }
}