/****************
* LOCATION
****************/

.location {
    padding: 100px 0;
    background: url(../images/bg-location.jpg);
    background-size: cover;

    .container {
        
        .head {
            background-color: #191919;
            display: flex;
            padding: 50px 40px;
            width: 100%;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;

                .info {
                    display: flex;
                    align-items: center;

                    .icon {
                        border: 1px solid var(--color-primary);
                        padding: 16px;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        margin-right: 15px;
                    }

                    .text {
                        display: block;
                        color: var(--color-primary-light);

                        span {
                            display: block;
                            color: gray;
                        }
                    }
                    
                }
            }            
        }

        .map {
            width: 100%;

            iframe {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .location {
        padding: 20px 0;
        .container {
            .head {
                padding: 10px 0 30px 0;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                align-items: center;
                
                div {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .info {
                        //text-align: center;
                        width: 400px;
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        
                        
                        .icon {
                            margin: 0;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }         
}


@media (max-width: 700px) {
    .location {
        padding: 20px 0;
        .container {
            .head {
                padding: 10px 0 30px 0;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                
                div {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .info {
                        //text-align: center;
                        width: 400px;
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        
                        
                        .icon {
                            margin: 0;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }         
}


@media (max-width: 400px) {
    .location {
        padding: 20px 0;
        .container {
            .head {
                padding: 10px 0 30px 0;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                
                div {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .info {
                        //text-align: center;
                        width: 350px;
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        
                        
                        .icon {
                            margin: 0;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }         
}