/****************
* SERVICES
****************/

.services {
    text-align: center;
    padding: 100px 0;
    justify-content: space-between;
    background-color: var(--color-primary-light);   

    .container {
        
        h2 {
            color: var(--color-secondary);
            font-weight: normal;
            font-size: 50px;
        }

        .content {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            color: var(--color-secondary);

            div {
                display: block;
                text-align: center;
                border: 3px solid var(--color-primary);
                margin: 30px;
                padding: 40px 30px;

                h4 {
                    margin-top: 30px;
                    font-weight: bold;
                }

                p {
                    margin-top: 25px;
                    line-height: 25px;
                }
            }
        }

        @media (max-width: 999px) {
            .content {
                margin-top: 10px;
                flex-direction: column;

                div {
                    margin: 5px;
                    padding: 20px 15px;

                    img {
                        width: 40px;                        
                    }

                    .shaver {
                        width: 25px;
                        height: 50px;
                    }
                 
                    h4 {
                        margin-top: 10px;
                    }

                    p {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}